# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

### Immigration data

In [2]:
# Read in the data here
immigration_df = pd.read_csv("immigration_data_sample.csv")

In [3]:
immigration_df.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [4]:
immigration_df.shape

(1000, 29)

In [5]:
immigration_df.describe()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,arrdate,i94mode,depdate,i94bir,i94visa,count,dtadfile,entdepu,biryear,insnum,admnum
count,1.000000e+03,1.000000e+03,1000.0,1000.0,1000.000000,1000.00000,1000.000000,1000.000000,951.000000,1000.000000,1000.000000,1000.0,1.000000e+03,0.0,1000.000000,35.000000,1.000000e+03
mean,1.542097e+06,3.040461e+06,2016.0,4.0,302.928000,298.26200,20559.680000,1.078000,20575.037855,42.382000,1.859000,1.0,2.016042e+07,NaN,1973.618000,3826.857143,6.937237e+10
std,9.152879e+05,1.799818e+06,0.0,0.0,206.485285,202.12039,8.995027,0.485955,24.211234,17.903424,0.386353,0.0,4.951657e+01,NaN,17.903424,221.742583,2.338134e+10
min,1.092500e+04,1.320800e+04,2016.0,4.0,103.000000,103.00000,20545.000000,1.000000,20547.000000,1.000000,1.000000,1.0,2.016040e+07,NaN,1923.000000,3468.000000,0.000000e+00
25%,7.214422e+05,1.412170e+06,2016.0,4.0,135.000000,131.00000,20552.000000,1.000000,20561.000000,30.750000,2.000000,1.0,2.016041e+07,NaN,1961.000000,3668.000000,5.599301e+10
50%,1.494568e+06,2.941176e+06,2016.0,4.0,213.000000,213.00000,20560.000000,1.000000,20570.000000,42.000000,2.000000,1.0,2.016042e+07,NaN,1974.000000,3887.000000,5.931477e+10
75%,2.360901e+06,4.694151e+06,2016.0,4.0,438.000000,438.00000,20567.250000,1.000000,20580.000000,55.000000,2.000000,1.0,2.016042e+07,NaN,1985.250000,3943.000000,9.343623e+10
max,3.095749e+06,6.061994e+06,2016.0,4.0,746.000000,696.00000,20574.000000,9.000000,20715.000000,93.000000,3.000000,1.0,2.016080e+07,NaN,2015.000000,4686.000000,9.502151e+10

In [6]:
immigration_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   cicid       1000 non-null   float64
 2   i94yr       1000 non-null   float64
 3   i94mon      1000 non-null   float64
 4   i94cit      1000 non-null   float64
 5   i94res      1000 non-null   float64
 6   i94port     1000 non-null   object
 7   arrdate     1000 non-null   float64
 8   i94mode     1000 non-null   float64
 9   i94addr     941 non-null    object
 10  depdate     951 non-null    float64
 11  i94bir      1000 non-null   float64
 12  i94visa     1000 non-null   float64
 13  count       1000 non-null   float64
 14  dtadfile    1000 non-null   int64
 15  visapost    382 non-null    object
 16  occup       4 non-null      object
 17  entdepa     1000 non-null   object
 18  entdepd     954 non-null    object
 19  entdepu     0 non-null      float64
 20  matflag     954 non-null    object
 21  biryear     1000 non-null   float64
 22  dtaddto     1000 non-null   object
 23  gender      859 non-null    object
 24  insnum      35 non-null     float64
 25  airline     967 non-null    object
 26  admnum      1000 non-null   float64
 27  fltno       992 non-null    object
 28  visatype    1000 non-null   object
dtypes: float64(15), int64(2), object(12)
memory usage: 226.7+ KB

In [7]:
immigration_df.isnull().mean()

Unnamed: 0    0.000
cicid         0.000
i94yr         0.000
i94mon        0.000
i94cit        0.000
i94res        0.000
i94port       0.000
arrdate       0.000
i94mode       0.000
i94addr       0.059
depdate       0.049
i94bir        0.000
i94visa       0.000
count         0.000
dtadfile      0.000
visapost      0.618
occup         0.996
entdepa       0.000
entdepd       0.046
entdepu       1.000
matflag       0.046
biryear       0.000
dtaddto       0.000
gender        0.141
insnum        0.965
airline       0.033
admnum        0.000
fltno         0.008
visatype      0.000
dtype: float64

Dataset with inmigration information from th US authorities. The I-94 provides a count of visitor arrivals to the United States (with stays of 1-night or more and visiting under certain visa types) to calculate U.S. travel and tourism volume exports.

- Has some columns with a high proportion of null values
- Some of the columns are casted as floats but can be integers to save memory

- **Unnamed**: 0 : unique id
- **cicid**: unique id
- **i94yr**: year of arrival
- **i94mon**: month arrival
- **i94cit**, i94res: country code -> i94cit = citeizenship, i94res = residence
- **i94port**: us port code
- **arrdate**: arrival date in US in SAS format
- **i94mode**: mode of arrival -> 4 different values. Air, sea, land and not reported
- **i94addr**: U.S. state address
- **depdate**: departure date in SAS format
- **i94bir**: respondent's age
- **i94visa**: respondent's visa type -> 3 different value: Business, pleasure, student.
- **count**: Drop column
- **dtadfile**: date added to I-94 files
- **visapost**: department of state where visa is issued
- **occup**: occupation in U.S. -> 4 different values. Mostly nan.
- **entdepa**: arrival flag - admitted or paroled into the U.S.
- **entdepd**: departure flag - departed, lost I-94 or is deceased
- **entdepu**: update flag - either apprehended, overstayed, adjusted to perm residence -> Drop column
- **matflag**: match flag - match of arrival and departure records
- **biryear**: birth year
- **dtaddto**: date to which admitted to U.S. (allowed to stay until)
- **gender**: non-immigrant gender
- **insnum**: Drop column
- **airline**: airline used to arrive in U.S.
- **admnum**: admission number
- **fltno**: flight number
- **visatype**: class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [8]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder.\
        config("spark.jars.repositories", "https://repos.spark-packages.org/").\
        config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
        enableHiveSupport().getOrCreate()

df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
# write to parquet
# df_spark.write.parquet("sas_data")

In [9]:
df_spark =  spark.read.parquet("immigration_data")
df_spark.take(1)

[Row(cicid=5748517.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='CA', depdate=20582.0, i94bir=40.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear=1976.0, dtaddto='10292016', gender='F', insnum=None, airline='QF', admnum=94953870030.0, fltno='00011', visatype='B1')]

In [10]:
df_spark.count()

3096313

In [11]:
df_spark.agg(F.countDistinct(F.col('cicid'))).show()

+---------------------+
|count(DISTINCT cicid)|
+---------------------+
|              3096313|
+---------------------+

### Demographics data

In [12]:
us_cities_df = pd.read_csv("us-cities-demographics.csv", sep=";")
us_cities_df.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

The city demographics dataset has information about US cities with demographic data such as population and median age and racial distibution by city.

In [13]:
us_cities_df.describe()

,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,Count
count,2891.000000,2.888000e+03,2.888000e+03,2.891000e+03,2878.000000,2.878000e+03,2875.000000,2.891000e+03
mean,35.494881,9.732843e+04,1.017696e+05,1.989668e+05,9367.832523,4.065360e+04,2.742543,4.896377e+04
std,4.401617,2.162999e+05,2.315646e+05,4.475559e+05,13211.219924,1.557491e+05,0.433291,1.443856e+05
min,22.900000,2.928100e+04,2.734800e+04,6.321500e+04,416.000000,8.610000e+02,2.000000,9.800000e+01
25%,32.800000,3.928900e+04,4.122700e+04,8.042900e+04,3739.000000,9.224000e+03,2.430000,3.435000e+03
50%,35.300000,5.234100e+04,5.380900e+04,1.067820e+05,5397.000000,1.882200e+04,2.650000,1.378000e+04
75%,38.000000,8.664175e+04,8.960400e+04,1.752320e+05,9368.000000,3.397175e+04,2.950000,5.444700e+04
max,70.500000,4.081698e+06,4.468707e+06,8.550405e+06,156961.000000,3.212500e+06,4.980000,3.835726e+06

In [14]:
us_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    2891 non-null   object
 1   State                   2891 non-null   object
 2   Median Age              2891 non-null   float64
 3   Male Population         2888 non-null   float64
 4   Female Population       2888 non-null   float64
 5   Total Population        2891 non-null   int64
 6   Number of Veterans      2878 non-null   float64
 7   Foreign-born            2878 non-null   float64
 8   Average Household Size  2875 non-null   float64
 9   State Code              2891 non-null   object
 10  Race                    2891 non-null   object
 11  Count                   2891 non-null   int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.2+ KB

In [15]:
us_cities_df.isnull().mean()

City                      0.000000
State                     0.000000
Median Age                0.000000
Male Population           0.001038
Female Population         0.001038
Total Population          0.000000
Number of Veterans        0.004497
Foreign-born              0.004497
Average Household Size    0.005534
State Code                0.000000
Race                      0.000000
Count                     0.000000
dtype: float64

In [16]:
us_cities_df.columns = [col.lower().replace(" ", "_").replace("-", "_") for col in us_cities_df.columns]

In [17]:
us_cities_cast_dict = {
"male_population": "Int64",
"female_population": "Int64",
"number_of_veterans": "Int64",
"foreign_born": "Int64",
}

### Aiports dataset

In [186]:
airport_df = pd.read_csv("airport-codes_csv.csv")
airport_df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

The airport codes datset has information about world aiports with their location and international codes.

In [19]:
airport_df.describe(include='all')

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
count,57421,57421,57421,49608.000000,28978,57175,57421,51527,41561,9225,30030,57421
unique,57421,7,54380,NaN,6,242,2776,27893,40842,9113,28652,57294
top,WY68,small_airport,Centre Hospitalier Heliport,NaN,SA,US,US-TX,Seoul,SDPS,0,AMA,"129.115255, 37.540345"
freq,1,34808,85,NaN,8443,23256,2302,403,3,75,5,50
mean,NaN,NaN,NaN,1253.371775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,1615.482592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,-1266.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,208.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,722.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,1519.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,29977.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
airport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57421 entries, 0 to 57420
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         57421 non-null  object
 1   type          57421 non-null  object
 2   name          57421 non-null  object
 3   elevation_ft  49608 non-null  float64
 4   continent     28978 non-null  object
 5   iso_country   57175 non-null  object
 6   iso_region    57421 non-null  object
 7   municipality  51527 non-null  object
 8   gps_code      41561 non-null  object
 9   iata_code     9225 non-null   object
 10  local_code    30030 non-null  object
 11  coordinates   57421 non-null  object
dtypes: float64(1), object(11)
memory usage: 5.3+ MB

In [21]:
airport_df.isnull().mean()

ident           0.000000
type            0.000000
name            0.000000
elevation_ft    0.136065
continent       0.495341
iso_country     0.004284
iso_region      0.000000
municipality    0.102645
gps_code        0.276206
iata_code       0.839344
local_code      0.477021
coordinates     0.000000
dtype: float64

### Port codes dataset

This dataset comes from the description of the `port_code` column in the i94 immigration dataset catalog.

In [22]:
port_codes = {
    'ALC': 'ALCAN, AK             ',
    'ANC': 'ANCHORAGE, AK         ',
    'BAR': 'BAKER AAF - BAKER ISLAND, AK',
    'DAC': 'DALTONS CACHE, AK     ',
    'PIZ': 'DEW STATION PT LAY DEW, AK',
    'DTH': 'DUTCH HARBOR, AK      ',
    'EGL': 'EAGLE, AK             ',
    'FRB': 'FAIRBANKS, AK         ',
    'HOM': 'HOMER, AK             ',
    'HYD': 'HYDER, AK             ',
    'JUN': 'JUNEAU, AK            ',
    '5KE': 'KETCHIKAN, AK',
    'KET': 'KETCHIKAN, AK         ',
    'MOS': 'MOSES POINT INTERMEDIATE, AK',
    'NIK': 'NIKISKI, AK           ',
    'NOM': 'NOM, AK               ',
    'PKC': 'POKER CREEK, AK       ',
    'ORI': 'PORT LIONS SPB, AK',
    'SKA': 'SKAGWAY, AK           ',
    'SNP': 'ST. PAUL ISLAND, AK',
    'TKI': 'TOKEEN, AK',
    'WRA': 'WRANGELL, AK          ',
    'HSV': 'MADISON COUNTY - HUNTSVILLE, AL',
    'MOB': 'MOBILE, AL            ',
    'LIA': 'LITTLE ROCK, AR (BPS)',
    'ROG': 'ROGERS ARPT, AR',
    'DOU': 'DOUGLAS, AZ           ',
    'LUK': 'LUKEVILLE, AZ         ',
    'MAP': 'MARIPOSA AZ           ',
    'NAC': 'NACO, AZ              ',
    'NOG': 'NOGALES, AZ           ',
    'PHO': 'PHOENIX, AZ           ',
    'POR': 'PORTAL, AZ',
    'SLU': 'SAN LUIS, AZ          ',
    'SAS': 'SASABE, AZ            ',
    'TUC': 'TUCSON, AZ            ',
    'YUI': 'YUMA, AZ              ' ,
    'AND': 'ANDRADE, CA           ',
    'BUR': 'BURBANK, CA',
    'CAL': 'CALEXICO, CA          ',
    'CAO': 'CAMPO, CA             ' ,
    'FRE': 'FRESNO, CA            ',
    'ICP': 'IMPERIAL COUNTY, CA   ',
    'LNB': 'LONG BEACH, CA         ',
    'LOS': 'LOS ANGELES, CA       ',
    'BFL': 'MEADOWS FIELD - BAKERSFIELD, CA',
    'OAK': 'OAKLAND, CA ' ,
    'ONT': 'ONTARIO, CA',
    'OTM': 'OTAY MESA, CA          ',
    'BLT': 'PACIFIC, HWY. STATION, CA ',
    'PSP': 'PALM SPRINGS, CA',
    'SAC': 'SACRAMENTO, CA        ',
    'SLS': 'SALINAS, CA (BPS)',
    'SDP': 'SAN DIEGO, CA',
    'SFR': 'SAN FRANCISCO, CA     ',
    'SNJ': 'SAN JOSE, CA          ',
    'SLO': 'SAN LUIS OBISPO, CA   ',
    'SLI': 'SAN LUIS OBISPO, CA (BPS)',
    'SPC': 'SAN PEDRO, CA         ',
    'SYS': 'SAN YSIDRO, CA        ',
    'SAA': 'SANTA ANA, CA         ',
    'STO': 'STOCKTON, CA (BPS)',
    'TEC': 'TECATE, CA            ',
    'TRV': 'TRAVIS-AFB, CA        ',
    'APA': 'ARAPAHOE COUNTY, CO',
    'ASE': 'ASPEN, CO #ARPT',
    'COS': 'COLORADO SPRINGS, CO',
    'DEN': 'DENVER, CO            ',
    'DRO': 'LA PLATA - DURANGO, CO',
    'BDL': 'BRADLEY INTERNATIONAL, CT',
    'BGC': 'BRIDGEPORT, CT        ',
    'GRT': 'GROTON, CT            ',
    'HAR': 'HARTFORD, CT          ',
    'NWH': 'NEW HAVEN, CT         ',
    'NWL': 'NEW LONDON, CT        ',
    'TST': 'NEWINGTON DATA CENTER TEST, CT',
    'WAS': 'WASHINGTON DC         ',
    'DOV': 'DOVER AFB, DE',
    'DVD': 'DOVER-AFB, DE         ',
    'WLL': 'WILMINGTON, DE        ',
    'BOC': 'BOCAGRANDE, FL        ',
    'SRQ': 'BRADENTON - SARASOTA, FL',
    'CAN': 'CAPE CANAVERAL, FL    ',
    'DAB': 'DAYTONA BEACH INTERNATIONAL, FL',
    'FRN': 'FERNANDINA, FL        ',
    'FTL': 'FORT LAUDERDALE, FL   ',
    'FMY': 'FORT MYERS, FL        ',
    'FPF': 'FORT PIERCE, FL       ',
    'HUR': 'HURLBURT FIELD, FL',
    'GNV': 'J R ALISON MUNI - GAINESVILLE, FL',
    'JAC': 'JACKSONVILLE, FL      ',
    'KEY': 'KEY WEST, FL          ',
    'LEE': 'LEESBURG MUNICIPAL AIRPORT, FL',
    'MLB': 'MELBOURNE, FL',
    'MIA': 'MIAMI, FL             ',
    'APF': 'NAPLES, FL #ARPT',
    'OPF': 'OPA LOCKA, FL',
    'ORL': 'ORLANDO, FL           ',
    'PAN': 'PANAMA CITY, FL       ',
    'PEN': 'PENSACOLA, FL         ',
    'PCF': 'PORT CANAVERAL, FL    ',
    'PEV': 'PORT EVERGLADES, FL   ',
    'PSJ': 'PORT ST JOE, FL       ',
    'SFB': 'SANFORD, FL           ',
    'SGJ': 'ST AUGUSTINE ARPT, FL',
    'SAU': 'ST AUGUSTINE, FL      ',
    'FPR': 'ST LUCIE COUNTY, FL',
    'SPE': 'ST PETERSBURG, FL     ',
    'TAM': 'TAMPA, FL             ',
    'WPB': 'WEST PALM BEACH, FL   ',
    'ATL': 'ATLANTA, GA           ',
    'BRU': 'BRUNSWICK, GA         ',
    'AGS': 'BUSH FIELD - AUGUSTA, GA',
    'SAV': 'SAVANNAH, GA          ',
    'AGA': 'AGANA, GU             ',
    'HHW': 'HONOLULU, HI          ',
    'OGG': 'KAHULUI - MAUI, HI',
    'KOA': 'KEAHOLE-KONA, HI      ',
    'LIH': 'LIHUE, HI             ',
    'CID': 'CEDAR RAPIDS/IOWA CITY, IA',
    'DSM': 'DES MOINES, IA',
    'BOI': 'AIR TERM. (GOWEN FLD) BOISE, ID',
    'EPI': 'EASTPORT, ID          ',
    'IDA': 'FANNING FIELD - IDAHO FALLS, ID',
    'PTL': 'PORTHILL, ID          ',
    'SPI': 'CAPITAL - SPRINGFIELD, IL',
    'CHI': 'CHICAGO, IL           ',
    'DPA': 'DUPAGE COUNTY, IL',
    'PIA': 'GREATER PEORIA, IL',
    'RFD': 'GREATER ROCKFORD, IL',
    'UGN': 'MEMORIAL - WAUKEGAN, IL',
    'GAR': 'GARY, IN              ',
    'HMM': 'HAMMOND, IN           ',
    'INP': 'INDIANAPOLIS, IN      ',
    'MRL': 'MERRILLVILLE, IN      ',
    'SBN': 'SOUTH BEND, IN',
    'ICT': 'MID-CONTINENT - WITCHITA, KS',
    'LEX': 'BLUE GRASS - LEXINGTON, KY',
    'LOU': 'LOUISVILLE, KY        ',
    'BTN': 'BATON ROUGE, LA       ',
    'LKC': 'LAKE CHARLES, LA      ',
    'LAK': 'LAKE CHARLES, LA (BPS)',
    'MLU': 'MONROE, LA',
    'MGC': 'MORGAN CITY, LA       ',
    'NOL': 'NEW ORLEANS, LA       ',
    'BOS': 'BOSTON, MA            ',
    'GLO': 'GLOUCESTER, MA        ',
    'BED': 'HANSCOM FIELD - BEDFORD, MA',
    'LYN': 'LYNDEN, WA            ',
    'ADW': 'ANDREWS AFB, MD',
    'BAL': 'BALTIMORE, MD         ',
    'MKG': 'MUSKEGON, MD',
    'PAX': 'PATUXENT RIVER, MD    ',
    'BGM': 'BANGOR, ME            ',
    'BOO': 'BOOTHBAY HARBOR, ME   ',
    'BWM': 'BRIDGEWATER, ME       ',
    'BCK': 'BUCKPORT, ME          ',
    'CLS': 'CALAIS, ME   ',
    'CRB': 'CARIBOU, ME           ',
    'COB': 'COBURN GORE, ME       ',
    'EST': 'EASTCOURT, ME         ',
    'EPT': 'EASTPORT MUNICIPAL, ME',
    'EPM': 'EASTPORT, ME          ',
    'FOR': 'FOREST CITY, ME       ',
    'FTF': 'FORT FAIRFIELD, ME    ',
    'FTK': 'FORT KENT, ME         ',
    'HML': 'HAMIIN, ME            ',
    'HTM': 'HOULTON, ME           ',
    'JKM': 'JACKMAN, ME           ',
    'KAL': 'KALISPEL, MT          ',
    'LIM': 'LIMESTONE, ME         ',
    'LUB': 'LUBEC, ME             ',
    'MAD': 'MADAWASKA, ME         ',
    'POM': 'PORTLAND, ME          ',
    'RGM': 'RANGELEY, ME (BPS)',
    'SBR': 'SOUTH BREWER, ME      ',
    'SRL': 'ST AURELIE, ME        ',
    'SPA': 'ST PAMPILE, ME        ',
    'VNB': 'VAN BUREN, ME         ',
    'VCB': 'VANCEBORO, ME         ',
    'AGN': 'ALGONAC, MI           ',
    'ALP': 'ALPENA, MI            ',
    'BCY': 'BAY CITY, MI          ',
    'DET': 'DETROIT, MI           ',
    'GRP': 'GRAND RAPIDS, MI',
    'GRO': 'GROSSE ISLE, MI       ',
    'ISL': 'ISLE ROYALE, MI       ',
    'MRC': 'MARINE CITY, MI       ',
    'MRY': 'MARYSVILLE, MI        ',
    'PTK': 'OAKLAND COUNTY - PONTIAC, MI',
    'PHU': 'PORT HURON, MI        ',
    'RBT': 'ROBERTS LANDING, MI   ',
    'SAG': 'SAGINAW, MI           ',
    'SSM': 'SAULT STE. MARIE, MI  ',
    'SCL': 'ST CLAIR, MI          ',
    'YIP': 'WILLOW RUN - YPSILANTI, MI',
    'BAU': 'BAUDETTE, MN          ',
    'CAR': 'CARIBOU MUNICIPAL AIRPORT, MN',
    'GTF': 'Collapsed into INT, MN',
    'INL': 'Collapsed into INT, MN',
    'CRA': 'CRANE LAKE, MN        ',
    'MIC': 'CRYSTAL MUNICIPAL AIRPORT, MN',
    'DUL': 'DULUTH, MN            ',
    'ELY': 'ELY, MN               ',
    'GPM': 'GRAND PORTAGE, MN     ',
    'SVC': 'GRANT COUNTY - SILVER CITY, MN',
    'INT': 'INT''L FALLS, MN      ',
    'LAN': 'LANCASTER, MN         ',
    'MSP': 'MINN./ST PAUL, MN     ',
    'LIN': 'NORTHERN SVC CENTER, MN   ',
    'NOY': 'NOYES, MN             ',
    'PIN': 'PINE CREEK, MN        ',
    '48Y': 'PINECREEK BORDER ARPT, MN',
    'RAN': 'RAINER, MN            ',
    'RST': 'ROCHESTER, MN',
    'ROS': 'ROSEAU, MN            ',
    'SPM': 'ST PAUL, MN           ',
    'WSB': 'WARROAD INTL, SPB, MN',
    'WAR': 'WARROAD, MN           ',
    'KAN': 'KANSAS CITY, MO       ',
    'SGF': 'SPRINGFIELD-BRANSON, MO',
    'STL': 'ST LOUIS, MO          ',
    'WHI': 'WHITETAIL, MT         ',
    'WHM': 'WILD HORSE, MT        ',
    'GPT': 'BILOXI REGIONAL, MS',
    'GTR': 'GOLDEN TRIANGLE LOWNDES CNTY, MS',
    'GUL': 'GULFPORT, MS          ',
    'PAS': 'PASCAGOULA, MS        ',
    'JAN': 'THOMPSON FIELD - JACKSON, MS',
    'BIL': 'BILLINGS, MT          ',
    'BTM': 'BUTTE, MT             ',
    'CHF': 'CHIEF MT, MT          ',
    'CTB': 'CUT BANK MUNICIPAL, MT',
    'CUT': 'CUT BANK, MT          ',
    'DLB': 'DEL BONITA, MT        ',
    'EUR': 'EUREKA, MT (BPS)',
    'BZN': 'GALLATIN FIELD - BOZEMAN, MT',
    'FCA': 'GLACIER NATIONAL PARK, MT',
    'GGW': 'GLASGOW, MT           ',
    'GRE': 'GREAT FALLS, MT       ',
    'HVR': 'HAVRE, MT             ',
    'HEL': 'HELENA, MT            ',
    'LWT': 'LEWISTON, MT          ',
    'MGM': 'MORGAN, MT            ',
    'OPH': 'OPHEIM, MT            ',
    'PIE': 'PIEGAN, MT            ',
    'RAY': 'RAYMOND, MT           ',
    'ROO': 'ROOSVILLE, MT         ',
    'SCO': 'SCOBEY, MT            ',
    'SWE': 'SWEETGTASS, MT        ',
    'TRL': 'TRIAL CREEK, MT       ',
    'TUR': 'TURNER, MT            ',
    'WCM': 'WILLOW CREEK, MT      ',
    'CLT': 'CHARLOTTE, NC         ',
    'FAY': 'FAYETTEVILLE, NC',
    'MRH': 'MOREHEAD CITY, NC     ',
    'FOP': 'MORRIS FIELDS AAF, NC',
    'GSO': 'PIEDMONT TRIAD INTL AIRPORT, NC',
    'RDU': 'RALEIGH/DURHAM, NC    ',
    'SSC': 'SHAW AFB - SUMTER, NC',
    'WIL': 'WILMINGTON, NC        ',
    'AMB': 'AMBROSE, ND           ',
    'ANT': 'ANTLER, ND            ',
    'CRY': 'CARBURY, ND           ',
    'DNS': 'DUNSEITH, ND          ',
    'FAR': 'FARGO, ND             ',
    'FRT': 'FORTUNA, ND           ',
    'GRF': 'GRAND FORKS, ND       ',
    'HNN': 'HANNAH, ND            ',
    'HNS': 'HANSBORO, ND          ',
    'MAI': 'MAIDA, ND             ',
    'MND': 'MINOT, ND             ',
    'NEC': 'NECHE, ND             ',
    'NOO': 'NOONAN, ND            ',
    'NRG': 'NORTHGATE, ND         ',
    'PEM': 'PEMBINA, ND           ',
    'SAR': 'SARLES, ND            ',
    'SHR': 'SHERWOOD, ND          ',
    'SJO': 'ST JOHN, ND           ',
    'WAL': 'WALHALLA, ND          ',
    'WHO': 'WESTHOPE, ND          ',
    'WND': 'WILLISTON, ND         ',
    'OMA': 'OMAHA, NE             ',
    'LEB': 'LEBANON, NH           ',
    'MHT': 'MANCHESTER, NH',
    'PNH': 'PITTSBURG, NH         ',
    'PSM': 'PORTSMOUTH, NH        ',
    'BYO': 'BAYONNE, NJ           ',
    'CNJ': 'CAMDEN, NJ            ',
    'HOB': 'HOBOKEN, NJ           ',
    'JER': 'JERSEY CITY, NJ       ',
    'WRI': 'MC GUIRE AFB - WRIGHTSOWN, NJ',
    'MMU': 'MORRISTOWN, NJ',
    'NEW': 'NEWARK/TETERBORO, NJ  ',
    'PER': 'PERTH AMBOY, NJ       ',
    'ACY': 'POMONA FIELD - ATLANTIC CITY, NJ',
    'ALA': 'ALAMAGORDO, NM (BPS)',
    'ABQ': 'ALBUQUERQUE, NM       ',
    'ANP': 'ANTELOPE WELLS, NM    ',
    'CRL': 'CARLSBAD, NM          ',
    'COL': 'COLUMBUS, NM          ',
    'CDD': 'CRANE LAKE - ST. LOUIS CNTY, NM',
    'DNM': 'DEMING, NM (BPS)',
    'LAS': 'LAS CRUCES, NM        ',
    'LOB': 'LORDSBURG, NM (BPS)',
    'RUI': 'RUIDOSO, NM',
    'STR': 'SANTA TERESA, NM      ',
    'RNO': 'CANNON INTL - RENO/TAHOE, NV',
    'FLX': 'FALLON MUNICIPAL AIRPORT, NV',
    'LVG': 'LAS VEGAS, NV         ',
    'REN': 'RENO, NV              ',
    'ALB': 'ALBANY, NY            ',
    'AXB': 'ALEXANDRIA BAY, NY    ',
    'BUF': 'BUFFALO, NY           ',
    'CNH': 'CANNON CORNERS, NY',
    'CAP': 'CAPE VINCENT, NY      ',
    'CHM': 'CHAMPLAIN, NY         ',
    'CHT': 'CHATEAUGAY, NY        ',
    'CLA': 'CLAYTON, NY           ',
    'FTC': 'FORT COVINGTON, NY    ',
    'LAG': 'LA GUARDIA, NY        ',
    'LEW': 'LEWISTON, NY          ',
    'MAS': 'MASSENA, NY           ',
    'MAG': 'MCGUIRE AFB, NY       ',
    'MOO': 'MOORES, NY            ',
    'MRR': 'MORRISTOWN, NY        ',
    'NYC': 'NEW YORK, NY          ',
    'NIA': 'NIAGARA FALLS, NY     ',
    'OGD': 'OGDENSBURG, NY        ',
    'OSW': 'OSWEGO, NY            ',
    'ELM': 'REGIONAL ARPT - HORSEHEAD, NY',
    'ROC': 'ROCHESTER, NY         ',
    'ROU': 'ROUSES POINT, NY      ',
    'SWF': 'STEWART - ORANGE CNTY, NY',
    'SYR': 'SYRACUSE, NY          ',
    'THO': 'THOUSAND ISLAND BRIDGE, NY',
    'TRO': 'TROUT RIVER, NY       ',
    'WAT': 'WATERTOWN, NY         ',
    'HPN': 'WESTCHESTER - WHITE PLAINS, NY',
    'WRB': 'WHIRLPOOL BRIDGE, NY',
    'YOU': 'YOUNGSTOWN, NY        ',
    'AKR': 'AKRON, OH             ',
    'ATB': 'ASHTABULA, OH         ',
    'CIN': 'CINCINNATI, OH        ',
    'CLE': 'CLEVELAND, OH         ',
    'CLM': 'COLUMBUS, OH          ',
    'LOR': 'LORAIN, OH            ',
    'MBO': 'MARBLE HEADS, OH      ',
    'SDY': 'SANDUSKY, OH          ',
    'TOL': 'TOLEDO, OH            ',
    'OKC': 'OKLAHOMA CITY, OK     ',
    'TUL': 'TULSA, OK',
    'AST': 'ASTORIA, OR           ',
    'COO': 'COOS BAY, OR          ',
    'HIO': 'HILLSBORO, OR',
    'MED': 'MEDFORD, OR           ',
    'NPT': 'NEWPORT, OR           ',
    'POO': 'PORTLAND, OR          ',
    'PUT': 'PUT-IN-BAY, OH        ',
    'RDM': 'ROBERTS FIELDS - REDMOND, OR',
    'ERI': 'ERIE, PA              ',
    'MDT': 'HARRISBURG, PA',
    'HSB': 'HARRISONBURG, PA      ',
    'PHI': 'PHILADELPHIA, PA      ',
    'PIT': 'PITTSBURG, PA         ',
    'AGU': 'AGUADILLA, PR         ',
    'BQN': 'BORINQUEN - AGUADILLO, PR',
    'JCP': 'CULEBRA - BENJAMIN RIVERA, PR',
    'ENS': 'ENSENADA, PR          ',
    'FAJ': 'FAJARDO, PR           ',
    'HUM': 'HUMACAO, PR           ',
    'JOB': 'JOBOS, PR             ',
    'MAY': 'MAYAGUEZ, PR          ',
    'PON': 'PONCE, PR             ',
    'PSE': 'PONCE-MERCEDITA, PR',
    'SAJ': 'SAN JUAN, PR          ',
    'VQS': 'VIEQUES-ARPT, PR',
    'PRO': 'PROVIDENCE, RI        ',
    'PVD': 'THEODORE FRANCIS - WARWICK, RI',
    'CHL': 'CHARLESTON, SC        ',
    'CAE': 'COLUMBIA, SC #ARPT',
    'GEO': 'GEORGETOWN, SC        ',
    'GSP': 'GREENVILLE, SC',
    'GRR': 'GREER, SC',
    'MYR': 'MYRTLE BEACH, SC',
    'SPF': 'BLACK HILLS, SPEARFISH, SD',
    'HON': 'HOWES REGIONAL ARPT - HURON, SD',
    'SAI': 'SAIPAN, SPN           ',
    'TYS': 'MC GHEE TYSON - ALCOA, TN',
    'MEM': 'MEMPHIS, TN           ',
    'NSV': 'NASHVILLE, TN         ',
    'TRI': 'TRI CITY ARPT, TN',
    'ADS': 'ADDISON AIRPORT- ADDISON, TX',
    'ADT': 'AMISTAD DAM, TX       ',
    'ANZ': 'ANZALDUAS, TX',
    'AUS': 'AUSTIN, TX            ',
    'BEA': 'BEAUMONT, TX          ',
    'BBP': 'BIG BEND PARK, TX (BPS)',
    'SCC': 'BP SPEC COORD. CTR, TX',
    'BTC': 'BP TACTICAL UNIT, TX  ' ,
    'BOA': 'BRIDGE OF AMERICAS, TX',
    'BRO': 'BROWNSVILLE, TX       ',
    'CRP': 'CORPUS CHRISTI, TX    ',
    'DAL': 'DALLAS, TX            ',
    'DLR': 'DEL RIO, TX           ',
    'DNA': 'DONNA, TX',
    'EGP': 'EAGLE PASS, TX        ',
    'ELP': 'EL PASO, TX           ',
    'FAB': 'FABENS, TX            ',
    'FAL': 'FALCON HEIGHTS, TX    ',
    'FTH': 'FORT HANCOCK, TX      ',
    'AFW': 'FORT WORTH ALLIANCE, TX',
    'FPT': 'FREEPORT, TX          ',
    'GAL': 'GALVESTON, TX         ',
    'HLG': 'HARLINGEN, TX         ',
    'HID': 'HIDALGO, TX           ',
    'HOU': 'HOUSTON, TX           ',
    'SGR': 'HULL FIELD, SUGAR LAND ARPT, TX',
    'LLB': 'JUAREZ-LINCOLN BRIDGE, TX',
    'LCB': 'LAREDO COLUMBIA BRIDGE, TX',
    'LRN': 'LAREDO NORTH, TX      ',
    'LAR': 'LAREDO, TX            ',
    'LSE': 'LOS EBANOS, TX        ',
    'IND': 'LOS INDIOS, TX',
    'LOI': 'LOS INDIOS, TX        ',
    'MRS': 'MARFA, TX (BPS)',
    'MCA': 'MCALLEN, TX           ',
    'MAF': 'ODESSA REGIONAL, TX',
    'PDN': 'PASO DEL NORTE,TX     ',
    'PBB': 'PEACE BRIDGE, NY      ',
    'PHR': 'PHARR, TX             ',
    'PAR': 'PORT ARTHUR, TX       ',
    'ISB': 'PORT ISABEL, TX       ',
    'POE': 'PORT OF EL PASO, TX   ',
    'PRE': 'PRESIDIO, TX          ',
    'PGR': 'PROGRESO, TX          ',
    'RIO': 'RIO GRANDE CITY, TX   ',
    'ROM': 'ROMA, TX              ',
    'SNA': 'SAN ANTONIO, TX       ',
    'SNN': 'SANDERSON, TX         ',
    'VIB': 'VETERAN INTL BRIDGE, TX',
    'YSL': 'YSLETA, TX            ',
    'CHA': 'CHARLOTTE AMALIE, VI  ',
    'CHR': 'CHRISTIANSTED, VI     ',
    'CRU': 'CRUZ BAY, ST JOHN, VI ',
    'FRK': 'FREDERIKSTED, VI      ',
    'STT': 'ST THOMAS, VI         ',
    'LGU': 'CACHE AIRPORT - LOGAN, UT',
    'SLC': 'SALT LAKE CITY, UT    ',
    'CHO': 'ALBEMARLE CHARLOTTESVILLE, VA',
    'DAA': 'DAVISON AAF - FAIRFAX CNTY, VA',
    'HOP': 'HOPEWELL, VA          ',
    'HEF': 'MANASSAS, VA #ARPT',
    'NWN': 'NEWPORT, VA           ',
    'NOR': 'NORFOLK, VA           ',
    'RCM': 'RICHMOND, VA          ',
    'ABS': 'ALBURG SPRINGS, VT    ',
    'ABG': 'ALBURG, VT            ',
    'BEB': 'BEEBE PLAIN, VT       ',
    'BEE': 'BEECHER FALLS, VT     ',
    'BRG': 'BURLINGTON, VT        ',
    'CNA': 'CANAAN, VT            ',
    'DER': 'DERBY LINE, VT (I-91) ',
    'DLV': 'DERBY LINE, VT (RT. 5)',
    'ERC': 'EAST RICHFORD, VT     ',
    'HIG': 'HIGHGATE SPRINGS, VT  ',
    'MOR': 'MORSES LINE, VT       ',
    'NPV': 'NEWPORT, VT           ',
    'NRT': 'NORTH TROY, VT        ',
    'NRN': 'NORTON, VT            ',
    'PIV': 'PINNACLE ROAD, VT     ',
    'RIF': 'RICHFORT, VT          ',
    'STA': 'ST ALBANS, VT         ',
    'SWB': 'SWANTON, VT (BP - SECTOR HQ)',
    'WBE': 'WEST BERKSHIRE, VT    ',
    'ABE': 'ABERDEEN, WA          ',
    'ANA': 'ANACORTES, WA         ',
    'BEL': 'BELLINGHAM, WA        ',
    'BLI': 'BELLINGHAM, WASHINGTON #INTL',
    'BLA': 'BLAINE, WA            ',
    'BWA': 'BOUNDARY, WA          ',
    'CUR': 'CURLEW, WA (BPS)',
    'DVL': 'DANVILLE, WA          ',
    'EVE': 'EVERETT, WA           ',
    'FER': 'FERRY, WA             ',
    'FRI': 'FRIDAY HARBOR, WA     ',
    'FWA': 'FRONTIER, WA          ',
    'KLM': 'KALAMA, WA            ',
    'LAU': 'LAURIER, WA           ',
    'LON': 'LONGVIEW, WA          ',
    'MET': 'METALINE FALLS, WA    ',
    'MWH': 'MOSES LAKE GRANT COUNTY ARPT, WA',
    'NEA': 'NEAH BAY, WA          ',
    'NIG': 'NIGHTHAWK, WA         ',
    'OLY': 'OLYMPIA, WA           ',
    'ORO': 'OROVILLE, WA          ',
    'PWB': 'PASCO, WA             ',
    'PIR': 'POINT ROBERTS, WA     ',
    'PNG': 'PORT ANGELES, WA      ',
    'PTO': 'PORT TOWNSEND, WA     ',
    'SEA': 'SEATTLE, WA           ',
    'SPO': 'SPOKANE, WA           ',
    'SUM': 'SUMAS, WA             ',
    'TAC': 'TACOMA, WA            ',
    'PSC': 'TRI-CITIES - PASCO, WA',
    'VAN': 'VANCOUVER, WA         ',
    'AGM': 'ALGOMA, WI            ',
    'BAY': 'BAYFIELD, WI          ',
    'GRB': 'GREEN BAY, WI         ',
    'MNW': 'MANITOWOC, WI         ',
    'MIL': 'MILWAUKEE, WI         ',
    'MSN': 'TRUAX FIELD - DANE COUNTY, WI',
    'CHS': 'CHARLESTON, WV        ',
    'CLK': 'CLARKSBURG, WV        ',
    'BLF': 'MERCER COUNTY, WV',
    'CSP': 'CASPER, WY            ',
    'CNC': 'CANNON CORNERS, NY',
    'AG0': 'MAGNOLIA, AR',
    'BHM': 'BAR HARBOR, ME',
    'BHX': 'BIRMINGHAM, AL',
    'CAK': 'AKRON, OH',
    'FOK': 'SUFFOLK COUNTY, NY',
    'LND': 'LANDER, WY',
    'MAR': 'MARFA, TX',
    'MLI': 'MOLINE, IL',
    'RIV': 'RIVERSIDE, CA',
    'RME': 'ROME, NY',
    'VNY': 'VAN NUYS, CA',
    'YUM': 'YUMA, AZ',
}

In [23]:
import re
pattern_1 = re.compile(r"\(.+\)")
pattern_2 = re.compile(r"#[A-Z]+")
port_codes = {item[0]: pattern_2.sub("", pattern_1.sub("", item[1])).strip().replace("WASHINGTON", "WA") for item in port_codes.items()}

In [24]:
[(v[0], v[1]) for v in port_codes.items() if ',' not in v[1]]

[('MAP', 'MARIPOSA AZ'), ('WAS', 'WA DC')]

In [25]:
port_codes = {item[0]: item[1].replace('MARIPOSA AZ', 'MARIPOSA, AZ').replace('WA DC','WASHINGTON DC, WASHINGTON DC') for item in port_codes.items()}

In [26]:
port_codes_df = pd.DataFrame.from_dict({i: (item[0], item[1].split(',')[0], item[1].split(',')[-1])for i, item in enumerate(port_codes.items())}, orient='index', columns=["port_code", "city", "state"])
port_codes_df.head()

  port_code                      city state
0       ALC                     ALCAN    AK
1       ANC                 ANCHORAGE    AK
2       BAR  BAKER AAF - BAKER ISLAND    AK
3       DAC             DALTONS CACHE    AK
4       PIZ    DEW STATION PT LAY DEW    AK

In [27]:
port_codes_df["city_split"] = port_codes_df['city'].str.split('-')

In [28]:
port_codes_df.head()

  port_code                      city state                   city_split
0       ALC                     ALCAN    AK                      [ALCAN]
1       ANC                 ANCHORAGE    AK                  [ANCHORAGE]
2       BAR  BAKER AAF - BAKER ISLAND    AK  [BAKER AAF ,  BAKER ISLAND]
3       DAC             DALTONS CACHE    AK              [DALTONS CACHE]
4       PIZ    DEW STATION PT LAY DEW    AK     [DEW STATION PT LAY DEW]

In [29]:
port_codes_df = port_codes_df.explode("city_split")

In [30]:
port_codes_df['city_split'] = port_codes_df['city_split'].str.strip()
port_codes_df = port_codes_df.drop("city", axis=1).rename(columns={'city_split': 'city'})

In [31]:
port_codes_df["city_split"] = port_codes_df['city'].str.split('/')
port_codes_df = port_codes_df.explode("city_split")

In [32]:
port_codes_df['city_split'] = port_codes_df['city_split'].str.strip()
port_codes_df = port_codes_df.drop("city", axis=1).rename(columns={'city_split': 'city'})

In [33]:
port_codes_df.head()

  port_code state           city
0       ALC    AK          ALCAN
1       ANC    AK      ANCHORAGE
2       BAR    AK      BAKER AAF
2       BAR    AK   BAKER ISLAND
3       DAC    AK  DALTONS CACHE

In [34]:
port_codes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583 entries, 0 to 528
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   port_code  583 non-null    object
 1   state      583 non-null    object
 2   city       583 non-null    object
dtypes: object(3)
memory usage: 18.2+ KB

In [35]:
port_codes_df.describe()

       port_code state     city
count        583   583      583
unique       529    56      554
top          ICT    TX  NEWPORT
freq           3    51        3

In [36]:
port_codes_df.to_csv('i94_port_codes.csv', index=False)

## Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

### Immigration data

In [37]:
import pyspark.sql.functions as F

In [38]:
immigration_df.columns

Index(['Unnamed: 0', 'cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port',
       'arrdate', 'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa',
       'count', 'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd',
       'entdepu', 'matflag', 'biryear', 'dtaddto', 'gender', 'insnum',
       'airline', 'admnum', 'fltno', 'visatype'],
      dtype='object')

In [39]:
immigration_cols_to_keep = {
    "cicid": "immigration_id",
    "admnum": "admission_number",
    "i94port": "port_code",
    "fltno": "flight_number",
    "visatype": "visa_type",
    "airline": "airline",
    "i94bir": "age",
    "i94cit": "citizenship_country",
    "i94res": "residency_country",
    "arrdate": "arrival_date",
    "depdate": "departure_date",
    "visapost": "department_state_visa_issued",
    "i94visa": "visa_code",
    "visatype": "visa_type",
    "i94mode": "transportation_mode",
    "occup": "occupation",
    "gender": "gender"
}

In [40]:
spk_immigration_df = df_spark.select(*[F.col(col_name).alias(immigration_cols_to_keep.get(col_name, col_name)) for col_name in immigration_cols_to_keep.keys()])
spk_immigration_df.take(2)

[Row(immigration_id=5748517.0, admission_number=94953870030.0, port_code='LOS', flight_number='00011', visa_type='B1', airline='QF', age=40.0, citizenship_country=245.0, residency_country=438.0, arrival_date=20574.0, departure_date=20582.0, department_state_visa_issued='SYD', visa_code=1.0, transportation_mode=1.0, occupation=None, gender='F'),
 Row(immigration_id=5748518.0, admission_number=94955622830.0, port_code='LOS', flight_number='00007', visa_type='B1', airline='VA', age=32.0, citizenship_country=245.0, residency_country=438.0, arrival_date=20574.0, departure_date=20591.0, department_state_visa_issued='SYD', visa_code=1.0, transportation_mode=1.0, occupation=None, gender='F')]

Replace codes with human readable country names, transportation modes and visa types

In [41]:
country_codes = {
    582: 'MEXICO',
    236: 'AFGHANISTAN',
    101: 'ALBANIA',
    316: 'ALGERIA',
    102: 'ANDORRA',
    324: 'ANGOLA',
    529: 'ANGUILLA',
    518: 'ANTIGUA-BARBUDA',
    687: 'ARGENTINA ',
    151: 'ARMENIA',
    532: 'ARUBA',
    438: 'AUSTRALIA',
    103: 'AUSTRIA',
    152: 'AZERBAIJAN',
    512: 'BAHAMAS',
    298: 'BAHRAIN',
    274: 'BANGLADESH',
    513: 'BARBADOS',
    104: 'BELGIUM',
    581: 'BELIZE',
    386: 'BENIN',
    509: 'BERMUDA',
    153: 'BELARUS',
    242: 'BHUTAN',
    688: 'BOLIVIA',
    717: 'BONAIRE, ST EUSTATIUS, SABA' ,
    164: 'BOSNIA-HERZEGOVINA',
    336: 'BOTSWANA',
    689: 'BRAZIL',
    525: 'BRITISH VIRGIN ISLANDS',
    217: 'BRUNEI',
    105: 'BULGARIA',
    393: 'BURKINA FASO',
    243: 'BURMA',
    375: 'BURUNDI',
    310: 'CAMEROON',
    326: 'CAPE VERDE',
    526: 'CAYMAN ISLANDS',
    383: 'CENTRAL AFRICAN REPUBLIC',
    384: 'CHAD',
    690: 'CHILE',
    245: 'CHINA, PRC',
    721: 'CURACAO' ,
    270: 'CHRISTMAS ISLAND',
    271: 'COCOS ISLANDS',
    691: 'COLOMBIA',
    317: 'COMOROS',
    385: 'CONGO',
    467: 'COOK ISLANDS',
    575: 'COSTA RICA',
    165: 'CROATIA',
    584: 'CUBA',
    218: 'CYPRUS',
    140: 'CZECH REPUBLIC',
    723: 'FAROE ISLANDS (PART OF DENMARK)'  ,
    108: 'DENMARK',
    322: 'DJIBOUTI',
    519: 'DOMINICA',
    585: 'DOMINICAN REPUBLIC',
    240: 'EAST TIMOR',
    692: 'ECUADOR',
    368: 'EGYPT',
    576: 'EL SALVADOR',
    399: 'EQUATORIAL GUINEA',
    372: 'ERITREA',
    109: 'ESTONIA',
    369: 'ETHIOPIA',
    604: 'FALKLAND ISLANDS',
    413: 'FIJI',
    110: 'FINLAND',
    111: 'FRANCE',
    601: 'FRENCH GUIANA',
    411: 'FRENCH POLYNESIA',
    387: 'GABON',
    338: 'GAMBIA',
    758: 'GAZA STRIP' ,
    154: 'GEORGIA',
    112: 'GERMANY',
    339: 'GHANA',
    143: 'GIBRALTAR',
    113: 'GREECE',
    520: 'GRENADA',
    507: 'GUADELOUPE',
    577: 'GUATEMALA',
    382: 'GUINEA',
    327: 'GUINEA-BISSAU',
    603: 'GUYANA',
    586: 'HAITI',
    726: 'HEARD AND MCDONALD IS.',
    149: 'HOLY SEE/VATICAN',
    528: 'HONDURAS',
    206: 'HONG KONG',
    114: 'HUNGARY',
    115: 'ICELAND',
    213: 'INDIA',
    759: 'INDIAN OCEAN AREAS (FRENCH)' ,
    729: 'INDIAN OCEAN TERRITORY' ,
    204: 'INDONESIA',
    249: 'IRAN',
    250: 'IRAQ',
    116: 'IRELAND',
    251: 'ISRAEL',
    117: 'ITALY',
    388: 'IVORY COAST',
    514: 'JAMAICA',
    209: 'JAPAN',
    253: 'JORDAN',
    201: 'KAMPUCHEA',
    155: 'KAZAKHSTAN',
    340: 'KENYA',
    414: 'KIRIBATI',
    732: 'KOSOVO' ,
    272: 'KUWAIT',
    156: 'KYRGYZSTAN',
    203: 'LAOS',
    118: 'LATVIA',
    255: 'LEBANON',
    335: 'LESOTHO',
    370: 'LIBERIA',
    381: 'LIBYA',
    119: 'LIECHTENSTEIN',
    120: 'LITHUANIA',
    121: 'LUXEMBOURG',
    214: 'MACAU',
    167: 'MACEDONIA',
    320: 'MADAGASCAR',
    345: 'MALAWI',
    273: 'MALAYSIA',
    220: 'MALDIVES',
    392: 'MALI',
    145: 'MALTA',
    472: 'MARSHALL ISLANDS',
    511: 'MARTINIQUE',
    389: 'MAURITANIA',
    342: 'MAURITIUS',
    760: 'MAYOTTE (AFRICA - FRENCH)' ,
    473: 'MICRONESIA, FED. STATES OF',
    157: 'MOLDOVA',
    122: 'MONACO',
    299: 'MONGOLIA',
    735: 'MONTENEGRO' ,
    521: 'MONTSERRAT',
    332: 'MOROCCO',
    329: 'MOZAMBIQUE',
    371: 'NAMIBIA',
    440: 'NAURU',
    257: 'NEPAL',
    123: 'NETHERLANDS',
    508: 'NETHERLANDS ANTILLES',
    409: 'NEW CALEDONIA',
    464: 'NEW ZEALAND',
    579: 'NICARAGUA',
    390: 'NIGER',
    343: 'NIGERIA',
    470: 'NIUE',
    275: 'NORTH KOREA',
    124: 'NORWAY',
    256: 'OMAN',
    258: 'PAKISTAN',
    474: 'PALAU',
    743: 'PALESTINE' ,
    504: 'PANAMA',
    441: 'PAPUA NEW GUINEA',
    693: 'PARAGUAY',
    694: 'PERU',
    260: 'PHILIPPINES',
    416: 'PITCAIRN ISLANDS',
    107: 'POLAND',
    126: 'PORTUGAL',
    297: 'QATAR',
    748: 'REPUBLIC OF SOUTH SUDAN',
    321: 'REUNION',
    127: 'ROMANIA',
    158: 'RUSSIA',
    376: 'RWANDA',
    128: 'SAN MARINO',
    330: 'SAO TOME AND PRINCIPE',
    261: 'SAUDI ARABIA',
    391: 'SENEGAL',
    142: 'SERBIA AND MONTENEGRO',
    745: 'SERBIA' ,
    347: 'SEYCHELLES',
    348: 'SIERRA LEONE',
    207: 'SINGAPORE',
    141: 'SLOVAKIA',
    166: 'SLOVENIA',
    412: 'SOLOMON ISLANDS',
    397: 'SOMALIA',
    373: 'SOUTH AFRICA',
    276: 'SOUTH KOREA',
    129: 'SPAIN',
    244: 'SRI LANKA',
    346: 'ST. HELENA',
    522: 'ST. KITTS-NEVIS',
    523: 'ST. LUCIA',
    502: 'ST. PIERRE AND MIQUELON',
    524: 'ST. VINCENT-GRENADINES',
    716: 'SAINT BARTHELEMY' ,
    736: 'SAINT MARTIN' ,
    749: 'SAINT MAARTEN' ,
    350: 'SUDAN',
    602: 'SURINAME',
    351: 'SWAZILAND',
    130: 'SWEDEN',
    131: 'SWITZERLAND',
    262: 'SYRIA',
    268: 'TAIWAN',
    159: 'TAJIKISTAN',
    353: 'TANZANIA',
    263: 'THAILAND',
    304: 'TOGO',
    417: 'TONGA',
    516: 'TRINIDAD AND TOBAGO',
    323: 'TUNISIA',
    264: 'TURKEY',
    161: 'TURKMENISTAN',
    527: 'TURKS AND CAICOS ISLANDS',
    420: 'TUVALU',
    352: 'UGANDA',
    162: 'UKRAINE',
    296: 'UNITED ARAB EMIRATES',
    135: 'UNITED KINGDOM',
    695: 'URUGUAY',
    163: 'UZBEKISTAN',
    410: 'VANUATU',
    696: 'VENEZUELA',
    266: 'VIETNAM',
    469: 'WALLIS AND FUTUNA ISLANDS',
    757: 'WEST INDIES (FRENCH)' ,
    333: 'WESTERN SAHARA',
    465: 'WESTERN SAMOA',
    216: 'YEMEN',
    139: 'YUGOSLAVIA',
    301: 'ZAIRE',
    344: 'ZAMBIA',
    315: 'ZIMBABWE',
    403: 'INVALID: AMERICAN SAMOA',
    712: 'INVALID: ANTARCTICA' ,
    700: 'INVALID: BORN ON BOARD SHIP',
    719: 'INVALID: BOUVET ISLAND (ANTARCTICA/NORWAY TERR.)',
    574: 'INVALID: CANADA',
    720: 'INVALID: CANTON AND ENDERBURY ISLS' ,
    106: 'INVALID: CZECHOSLOVAKIA',
    739: 'INVALID: DRONNING MAUD LAND (ANTARCTICA-NORWAY)' ,
    394: 'INVALID: FRENCH SOUTHERN AND ANTARCTIC',
    501: 'INVALID: GREENLAND',
    404: 'INVALID: GUAM',
    730: 'INVALID: INTERNATIONAL WATERS' ,
    731: 'INVALID: JOHNSON ISLAND' ,
    471: 'INVALID: MARIANA ISLANDS, NORTHERN',
    737: 'INVALID: MIDWAY ISLANDS' ,
    753: 'INVALID: MINOR OUTLYING ISLANDS - USA',
    740: 'INVALID: NEUTRAL ZONE (S. ARABIA/IRAQ)' ,
    710: 'INVALID: NON-QUOTA IMMIGRANT',
    505: 'INVALID: PUERTO RICO',
    0:    'INVALID: STATELESS',
    705: 'INVALID: STATELESS',
    583: 'INVALID: UNITED STATES',
    407: 'INVALID: UNITED STATES',
    999: 'INVALID: UNKNOWN',
    239: 'INVALID: UNKNOWN',
    134: 'INVALID: USSR',
    506: 'INVALID: U.S. VIRGIN ISLANDS',
    755: 'INVALID: WAKE ISLAND'  ,
    311: 'COLLAPSED TANZANIA',
    741: 'COLLAPSED CURACAO',
    54: 'NO COUNTRY CODE',
    100: 'NO COUNTRY CODE',
    187: 'NO COUNTRY CODE',
    190: 'NO COUNTRY CODE',
    200: 'NO COUNTRY CODE',
    219: 'NO COUNTRY CODE',
    238: 'NO COUNTRY CODE',
    277: 'NO COUNTRY CODE',
    293: 'NO COUNTRY CODE',
    300: 'NO COUNTRY CODE',
    319: 'NO COUNTRY CODE',
    365: 'NO COUNTRY CODE',
    395: 'NO COUNTRY CODE',
    400: 'NO COUNTRY CODE',
    485: 'NO COUNTRY CODE',
    503: 'NO COUNTRY CODE',
    589: 'NO COUNTRY CODE',
    592: 'NO COUNTRY CODE',
    791: 'NO COUNTRY CODE',
    849: 'NO COUNTRY CODE',
    914: 'NO COUNTRY CODE',
    944: 'NO COUNTRY CODE',
    996: 'NO COUNTRY CODE',
}

In [42]:
from itertools import chain
mapping = F.create_map([F.lit(x) for x in chain(*country_codes.items())])
spk_immigration_df = spk_immigration_df.withColumn("citizenship_country", mapping[spk_immigration_df['citizenship_country']])
spk_immigration_df = spk_immigration_df.withColumn("residency_country", mapping[spk_immigration_df['residency_country']])

In [43]:
visa_codes = {
    1: "Business",
    2: "Pleasure",
    3:  "Student",
}

In [44]:
mapping = F.create_map([F.lit(x) for x in chain(*visa_codes.items())])
spk_immigration_df = spk_immigration_df.withColumn("visa_code", mapping[spk_immigration_df['visa_code']])

In [45]:
spk_immigration_df.take(1)

[Row(immigration_id=5748517.0, admission_number=94953870030.0, port_code='LOS', flight_number='00011', visa_type='B1', airline='QF', age=40.0, citizenship_country='CHINA, PRC', residency_country='AUSTRALIA', arrival_date=20574.0, departure_date=20582.0, department_state_visa_issued='SYD', visa_code='Business', transportation_mode=1.0, occupation=None, gender='F')]

In [46]:
transportation_modes = {
    1: 'Air',
    2: 'Sea',
    3: 'Land',
    9: 'Not reported',
}
mapping = F.create_map([F.lit(x) for x in chain(*transportation_modes.items())])
spk_immigration_df = spk_immigration_df.withColumn("transportation_mode", mapping[spk_immigration_df['transportation_mode']])

In [47]:
spk_immigration_df.take(1)

[Row(immigration_id=5748517.0, admission_number=94953870030.0, port_code='LOS', flight_number='00011', visa_type='B1', airline='QF', age=40.0, citizenship_country='CHINA, PRC', residency_country='AUSTRALIA', arrival_date=20574.0, departure_date=20582.0, department_state_visa_issued='SYD', visa_code='Business', transportation_mode='Air', occupation=None, gender='F')]

Fix date format from integer to date. The original integer represent the number of days since `1960-01-01`

In [48]:
spk_immigration_df = spk_immigration_df.withColumn('arrival_date', F.expr("date_add('1960-01-01', arrival_date)"))
spk_immigration_df = spk_immigration_df.withColumn('departure_date', F.expr("date_add('1960-01-01', departure_date)"))

In [49]:
spk_immigration_df.take(2)

[Row(immigration_id=5748517.0, admission_number=94953870030.0, port_code='LOS', flight_number='00011', visa_type='B1', airline='QF', age=40.0, citizenship_country='CHINA, PRC', residency_country='AUSTRALIA', arrival_date=datetime.date(2016, 4, 30), departure_date=datetime.date(2016, 5, 8), department_state_visa_issued='SYD', visa_code='Business', transportation_mode='Air', occupation=None, gender='F'),
 Row(immigration_id=5748518.0, admission_number=94955622830.0, port_code='LOS', flight_number='00007', visa_type='B1', airline='VA', age=32.0, citizenship_country='CHINA, PRC', residency_country='AUSTRALIA', arrival_date=datetime.date(2016, 4, 30), departure_date=datetime.date(2016, 5, 17), department_state_visa_issued='SYD', visa_code='Business', transportation_mode='Air', occupation=None, gender='F')]

Check the number of null values

In [50]:
spk_immigration_df.count()

3096313

In [51]:
spk_immigration_df.agg(F.countDistinct(F.col('immigration_id'))).show()

+------------------------------+
|count(DISTINCT immigration_id)|
+------------------------------+
|                       3096313|
+------------------------------+

In [52]:
spk_immigration_df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in spk_immigration_df.columns]).show()

+--------------+----------------+---------+-------------+---------+-------+---+-------------------+-----------------+------------+--------------+----------------------------+---------+-------------------+----------+------+
|immigration_id|admission_number|port_code|flight_number|visa_type|airline|age|citizenship_country|residency_country|arrival_date|departure_date|department_state_visa_issued|visa_code|transportation_mode|occupation|gender|
+--------------+----------------+---------+-------------+---------+-------+---+-------------------+-----------------+------------+--------------+----------------------------+---------+-------------------+----------+------+
|             0|               0|        0|        19549|        0|  83627|802|             386189|                0|           0|        142457|                     1881250|        0|                239|   3088187|414269|
+--------------+----------------+---------+-------------+---------+-------+---+-------------------+-----------------+------------+--------------+----------------------------+---------+-------------------+----------+------+

### Airports data

In [187]:
airport_df.head(2)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"

In [188]:
airport_df = airport_df[(airport_df["iso_country"] == "US")]

In [189]:
airport_df.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [190]:
airport_df = airport_df[(airport_df["type"] != "closed")]

In [191]:
airport_df["state"] = airport_df["iso_region"].str.split("-").str[1]

In [192]:
airport_df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,state
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125",PA
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022",KS
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968",AK
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172",AL
5,00AS,small_airport,Fulton Airport,1100.0,NaN,US,US-OK,Alex,00AS,NaN,00AS,"-97.8180194, 34.9428028",OK

In [193]:
airport_df[airport_df.gps_code != airport_df.local_code].head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,state
171,02P,heliport,Stottle Memorial Heliport,591.0,NaN,US,US-PA,Honey Grove,NaN,NaN,02P,"-77.556602, 40.403596",PA
256,04CA,small_airport,Gray Butte Field,3020.0,NaN,US,US-CA,Palmdale,KGXA,NaN,04CA,"-117.675003, 34.5639",CA
317,05B,seaplane_base,Van Buren Seaplane Base,440.0,NaN,US,US-ME,Van Buren,NaN,NaN,05B,"-67.931999, 47.158901",ME
337,05M,heliport,Pauls Valley General Hospital Heliport,911.0,NaN,US,US-OK,Pauls Valley,NaN,NaN,NaN,"-97.214237, 34.71979",OK
534,08TE,small_airport,B. J. Mc Combs Sisterdale Airport,1447.0,NaN,US,US-TX,Comfort,NaN,NaN,NaN,"-98.742451, 29.975331",TX

In [194]:
airport_df[['x_coordinate', 'y_coordinate']] = airport_df.coordinates.str.split(',', expand=True)

In [195]:
airport_df.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates', 'state', 'x_coordinate', 'y_coordinate'],
      dtype='object')

In [197]:
airport_df_cols_to_keep = ['local_code','iata_code','type', 'name', 'state', 'municipality', 'elevation_ft', 'x_coordinate', 'y_coordinate']
airport_df = airport_df[airport_df_cols_to_keep]

In [198]:
airport_df.isnull().mean()

local_code      0.017071
iata_code       0.907518
type            0.000000
name            0.000000
state           0.000000
municipality    0.002861
elevation_ft    0.012991
x_coordinate    0.000000
y_coordinate    0.000000
dtype: float64

In [199]:
airport_df = airport_df[airport_df['municipality'].notnull()]

In [200]:
airport_df['municipality'] = airport_df['municipality'].str.lower()
port_codes_df['city'] = port_codes_df['city'].str.lower()

In [201]:
airport_df = airport_df.merge(port_codes_df[['city', 'port_code']], left_on='municipality', right_on='city', how='inner')

In [202]:
airport_df['city'] = airport_df['city'].str.title()

In [203]:
airport_df.head()

,local_code,iata_code,type,name,state,municipality,elevation_ft,x_coordinate,y_coordinate,city,port_code
0,00SC,NaN,small_airport,Flying O Airport,SC,sumter,150.0,-80.26719665527344,34.0093994140625,Sumter,SSC
1,SMS,SUM,small_airport,Sumter Airport,SC,sumter,182.0,-80.361297607422,33.994998931885,Sumter,SSC
2,SSC,SSC,large_airport,Shaw Air Force Base,SC,sumter,241.0,-80.47059631,33.97269821,Sumter,SSC
3,00SD,NaN,small_airport,Homan Field,SD,gary,1590.0,-96.498897,44.809158,Gary,GAR
4,17SD,NaN,small_airport,Stone's Conservation Airport,SD,gary,1687.0,-96.564016,44.818642,Gary,GAR

In [204]:
airport_df.columns

Index(['local_code', 'iata_code', 'type', 'name', 'state', 'municipality',
       'elevation_ft', 'x_coordinate', 'y_coordinate', 'city', 'port_code'],
      dtype='object')

In [218]:
airport_cast_types = {
    "elevation_ft": "float64",
    "x_coordinate": "float64",
    "y_coordinate": "float64"
}
airport_df = airport_df.astype(airport_cast_types)

In [219]:
airport_df = airport_df[['port_code', 'local_code', 'iata_code', 'type', 'name', 'state' , 'city', 'elevation_ft', 'x_coordinate', 'y_coordinate']]

In [220]:
airport_df.to_csv('airports.csv', index=False)

### Demographics data

In [71]:
us_cities_df.head()

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,race,count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [72]:
us_cities_df[us_cities_df["city"].str.lower().str.contains("newark")]

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,race,count
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402
1770,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,Black or African-American,144961
1967,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,Asian,7349
2168,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,American Indian and Alaska Native,2268
2580,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,Hispanic or Latino,100432

The demographics dataset contains one row for each ethnic group

In [73]:
us_cities_df.columns

Index(['city', 'state', 'median_age', 'male_population', 'female_population',
       'total_population', 'number_of_veterans', 'foreign_born',
       'average_household_size', 'state_code', 'race', 'count'],
      dtype='object')

In [74]:
demographics_df = us_cities_df[['city', 'state', 'median_age', 'male_population', 'female_population',
                                'total_population', 'number_of_veterans', 'foreign_born',
                                'average_household_size', 'state_code']].drop_duplicates(subset='city')

In [75]:
demographics_df.head()

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ

In [76]:
demographics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567 entries, 0 to 2726
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    567 non-null    object
 1   state                   567 non-null    object
 2   median_age              567 non-null    float64
 3   male_population         566 non-null    float64
 4   female_population       566 non-null    float64
 5   total_population        567 non-null    int64
 6   number_of_veterans      560 non-null    float64
 7   foreign_born            560 non-null    float64
 8   average_household_size  559 non-null    float64
 9   state_code              567 non-null    object
dtypes: float64(6), int64(1), object(3)
memory usage: 48.7+ KB

In [77]:
demographics_df['city'] = demographics_df['city'].str.lower()

In [78]:
len(set(demographics_df.city).intersection(port_codes_df.city))

134

In [79]:
demographics_df = demographics_df.merge(port_codes_df[['city', 'port_code']], left_on='city', right_on='city', how='inner')

In [80]:
demographics_df['city'] = demographics_df['city'].str.title()

In [81]:
demographics_df.head()

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,port_code
0,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,NEW
1,Philadelphia,Pennsylvania,34.1,741270.0,826172.0,1567442,61995.0,205339.0,2.61,PA,PHI
2,Fort Myers,Florida,37.3,36850.0,37165.0,74015,4312.0,15365.0,2.45,FL,FMY
3,Laredo,Texas,28.8,124305.0,131484.0,255789,4921.0,68427.0,3.66,TX,LAR
4,New Haven,Connecticut,29.9,63765.0,66545.0,130310,2567.0,25871.0,2.48,CT,NWH

In [82]:
demographics_df.columns

Index(['city', 'state', 'median_age', 'male_population', 'female_population',
       'total_population', 'number_of_veterans', 'foreign_born',
       'average_household_size', 'state_code', 'port_code'],
      dtype='object')

In [83]:
demographics_df[['port_code', 'state_code', 'state', 'city',
                 'median_age', 'male_population', 'female_population',
                 'total_population', 'number_of_veterans', 'foreign_born',
                 'average_household_size', ]].to_csv('general_demographics.csv', index=False)

In [84]:
race_demographics_df = us_cities_df[['city', 'state', 'state_code', 'race', 'count']].pivot_table('count',['city', 'state', 'state_code'] ,'race').reset_index()

In [85]:
race_demographics_df.rename(columns={'American Indian and Alaska Native': 'native_count',
       'Asian': 'asian_count', 'Black or African-American': 'black_count', 'Hispanic or Latino': 'hispanic_count', 'White': 'white_count'}, inplace = True)
race_demographics_df.head()

race,city,state,state_code,native_count,asian_count,black_count,hispanic_count,white_count
0,Abilene,Texas,TX,1813.0,2929.0,14449.0,33222.0,95487.0
1,Akron,Ohio,OH,1845.0,9033.0,66551.0,3684.0,129192.0
2,Alafaya,Florida,FL,NaN,10336.0,6577.0,34897.0,63666.0
3,Alameda,California,CA,1329.0,27984.0,7364.0,8265.0,44232.0
4,Albany,Georgia,GA,445.0,650.0,53440.0,1783.0,17160.0

In [86]:
race_demographics_df['city'] = race_demographics_df['city'].str.lower()

In [87]:
race_demographics_df = race_demographics_df.merge(port_codes_df[['city', 'port_code']], left_on='city', right_on='city', how='inner')
race_demographics_df['city'] = race_demographics_df['city'].str.title()
race_demographics_df.head()

,city,state,state_code,native_count,asian_count,black_count,hispanic_count,white_count,port_code
0,Akron,Ohio,OH,1845.0,9033.0,66551.0,3684.0,129192.0,AKR
1,Akron,Ohio,OH,1845.0,9033.0,66551.0,3684.0,129192.0,CAK
2,Albany,Georgia,GA,445.0,650.0,53440.0,1783.0,17160.0,ALB
3,Albany,New York,NY,1611.0,8090.0,31303.0,9368.0,58368.0,ALB
4,Albuquerque,New Mexico,NM,32243.0,25140.0,26774.0,271854.0,411847.0,ABQ

In [88]:
race_demographics_df.columns

Index(['city', 'state', 'state_code', 'native_count', 'asian_count',
       'black_count', 'hispanic_count', 'white_count', 'port_code'],
      dtype='object')

In [89]:
race_demographics_df[[ 'port_code','state_code', 'state', 'city',  
                      'native_count', 'asian_count',
                      'black_count', 'hispanic_count', 'white_count',]].to_csv('race_demographics.csv', index=False)

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

## Data Model

The Star schema is used for this project having denormalize tables, simplified queries, and fast aggregation of the data. 

### 1. Fact Table
`immigration`
  - immigration_id: The unique ID for the respondent's immigration record. Primary key for this table. Foreign key for `visitors`, `visas` and `dates` tables.
  - flight_number: The flight number of the respondent. Foreign key for `flight` table.
  - port_code: The US port of arrival code of the respondent. Foreign key for `general_demographics`, `racial_demographics`, `airports` and `port_codes` tables

### 2. Dimension Tables

`flights`
  - flight_number: The flight number of the respondent. Primary key for this table.
  - airline: The airline taken by the respondent.

`visitors`
  - immigration_id: The unique ID for the respondent's immigration record. Primary key for this table.
  - age: The age of the respondent.
  - gender: the gender of the respondent.
  - occupation: The respondent's occupation.
  - residency_country: The respondent's country of residence.
  - citizenship_country: The respondent's country of citizenship.

`dates`
  - immigration_id: The unique ID for the respondent's immigration record. Primary key for this table.
  - arrival_date: Respondent's arrival date to the US.
  - arrival_year: Year of arrival.
  - arrival_month: Month of arrival.
  - arrival_day: day of arrival.
  - departure_date: Respondents departure_date from the US.
  - departure_year: Year of departure
  - departure_month: month of departure
  - departure_day: Day of departure
 
`visas` 
  - immigration_id: The unique ID for the respondent's immigration record. Primary key for this table.
  - visa_type: The respondent's visa class.
  - visa_code: The respondent's generic visa class (student, pleasure, business).
  - department_state_visa_issued: The state where the visa is issued to the respondent.

`general_demographics`
  - port_code: The US port of arrival code for the city. Primary key for this table.
  - city: The name of the US city
  - state: The state of the US city.
  - state_code: The state code.
  - median_age: The median age of the US cities.
  - male_population: The male population of the US city.
  - female_population: The female population of the US city.
  - total_population: The total population of the US city.
  - number_of_veterans: The number of US veterans in the US city.
  - foreign-born: The number of foreignborn in the US city.
  - average_household_size: The average household size in the US city.
  
`race_demographics`
  - port_code: The US port of arrival code for the city. Primary key for this table.
  - city: The name of the US city
  - state: The state of the US city.
  - state_code: The state code.
  - native_count: Number of native americans.
  - asian_count: Number of asians.
  - black_count: Number of blacks.
  - hispanic_count:  number of hispanics.
  - white_count: number of whites.

`airports`
  - port_code: The US port of arrival code for the city. Primary key for this table.
  - local_code: Local aiport code.
  - iata_code: Iata internatinal aiport code.
  - type: Airport Type.
  - name: Aitport Name.
  - state_code: Airport state code. 
  - city: City which the airport belongs to.
  - coordinates: Airport gps coordinates.
  - elevation_ft: Airport elevation.
 
`port_codes`
  - port_code: The US port of arrival code for the city. Primary key for this table.
  - state_code: Sate code.
  - city: City or municipality name.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [93]:
import os
data_directory = 'data/'

### Immigration fact table

In [97]:
immigration_fact_cols = ['immigration_id', 'flight_number', 'port_code']
immigration_fact_df = spk_immigration_df.select(immigration_fact_cols).dropDuplicates()
immigration_fact_df = immigration_fact_df.withColumn("immigration_id", immigration_fact_df.immigration_id.cast('int'))
immigration_fact_df.printSchema()

root
 |-- immigration_id: integer (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- port_code: string (nullable = true)

In [98]:
immigration_fact_df.write.mode('overwrite').partitionBy('port_code').parquet(os.path.join(data_directory, "immigration_fact.parquet"))

### Flights dimension

In [101]:
flight_dim_cols = ['flight_number', 'airline']
flights_dim_df = spk_immigration_df.select(flight_dim_cols).dropDuplicates().where(F.col("flight_number").isNotNull())
flights_dim_df.printSchema()

root
 |-- flight_number: string (nullable = true)
 |-- airline: string (nullable = true)

In [102]:
flights_dim_df.write.mode('overwrite').partitionBy('airline').parquet(os.path.join(data_directory, "flights_dim.parquet"))

### Visitors dimension

In [114]:
visitors_dimesion_cols = ['immigration_id', 'residency_country', 'citizenship_country', 'age', 'gender', 'occupation']
visitors_dim_df = spk_immigration_df.select(visitors_dimesion_cols).dropDuplicates()
visitors_dim_df = visitors_dim_df.withColumn('age', visitors_dim_df.age.cast('int'))\
                                 .withColumn("immigration_id", visitors_dim_df.immigration_id.cast('int'))
visitors_dim_df.printSchema()

root
 |-- immigration_id: integer (nullable = true)
 |-- residency_country: string (nullable = true)
 |-- citizenship_country: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- occupation: string (nullable = true)

In [115]:
visitors_dim_df.write.mode('overwrite').parquet(os.path.join(data_directory, "visitors_dim.parquet"))

### Dates dimesion

In [119]:
dates_dim_cols = ['immigration_id', 'arrival_date', 'departure_date']
dates_dim_df = spk_immigration_df.select(dates_dim_cols).dropDuplicates()
dates_dim_df = dates_dim_df.withColumn("immigration_id", dates_dim_df.immigration_id.cast('int'))\
                           .withColumn('arrival_year', F.year(dates_dim_df.arrival_date))\
                           .withColumn('arrival_month', F.month(dates_dim_df.arrival_date))\
                           .withColumn('arrival_day', F.dayofmonth(dates_dim_df.arrival_date))\
                           .withColumn('departure_year', F.year(dates_dim_df.departure_date))\
                           .withColumn('departure_month', F.month(dates_dim_df.departure_date))\
                           .withColumn('departure_day', F.dayofmonth(dates_dim_df.departure_date))
dates_dim_df.printSchema()

root
 |-- immigration_id: integer (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- departure_date: date (nullable = true)
 |-- arrival_year: integer (nullable = true)
 |-- arrival_month: integer (nullable = true)
 |-- arrival_day: integer (nullable = true)
 |-- departure_year: integer (nullable = true)
 |-- departure_month: integer (nullable = true)
 |-- departure_day: integer (nullable = true)

In [120]:
dates_dim_df.write.mode('overwrite')\
                  .partitionBy('arrival_year', 'arrival_month')\
                  .parquet(os.path.join(data_directory, "dates_dim.parquet"))

### Visas dimension

In [126]:
visas_dim_cols = ['immigration_id', 'visa_type', 'visa_code','department_state_visa_issued']
visas_dim_df = spk_immigration_df.select(visas_dim_cols).dropDuplicates()
visas_dim_df = visas_dim_df.withColumn("immigration_id", visas_dim_df.immigration_id.cast('int'))
visas_dim_df.printSchema()

root
 |-- immigration_id: integer (nullable = true)
 |-- visa_type: string (nullable = true)
 |-- visa_code: string (nullable = true)
 |-- department_state_visa_issued: string (nullable = true)

In [127]:
visas_dim_df.take(1)

[Row(immigration_id=5748916, visa_type='B2', visa_code='Pleasure', department_state_visa_issued=None)]

In [129]:
visas_dim_df.write.mode('overwrite')\
                  .partitionBy('visa_type')\
                  .parquet(os.path.join(data_directory, "visas_dim.parquet"))

### General demographics dimension

In [131]:
demographics_df.columns

Index(['city', 'state', 'median_age', 'male_population', 'female_population',
       'total_population', 'number_of_veterans', 'foreign_born',
       'average_household_size', 'state_code', 'port_code'],
      dtype='object')

In [133]:
general_demographics_dim = spark.createDataFrame(demographics_df[['port_code', 'state', 'state_code', 'city',
                                                                   'male_population', 'female_population','total_population', 
                                                                   'median_age', 'number_of_veterans', 'foreign_born',
                                                                   'average_household_size']])
general_demographics_dim = general_demographics_dim.withColumn("male_population", general_demographics_dim.male_population.cast('int'))\
                                                   .withColumn("female_population", general_demographics_dim.female_population.cast('int'))\
                                                   .withColumn("total_population", general_demographics_dim.total_population.cast('int'))\
                                                   .withColumn("number_of_veterans", general_demographics_dim.number_of_veterans.cast('int'))\
                                                   .withColumn("foreign_born", general_demographics_dim.foreign_born.cast('int'))
general_demographics_dim.printSchema()

root
 |-- port_code: string (nullable = true)
 |-- state: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- city: string (nullable = true)
 |-- male_population: integer (nullable = true)
 |-- female_population: integer (nullable = true)
 |-- total_population: integer (nullable = true)
 |-- median_age: double (nullable = true)
 |-- number_of_veterans: integer (nullable = true)
 |-- foreign_born: integer (nullable = true)
 |-- average_household_size: double (nullable = true)

In [134]:
general_demographics_dim.write.mode('overwrite')\
                  .partitionBy('port_code')\
                  .parquet(os.path.join(data_directory, "general_demog_dim.parquet"))

### Racial demographics dimension

In [135]:
race_demographics_df.columns

Index(['city', 'state', 'state_code', 'native_count', 'asian_count',
       'black_count', 'hispanic_count', 'white_count', 'port_code'],
      dtype='object')

In [141]:
race_demographics_dim = spark.createDataFrame(race_demographics_df[['port_code', 'state_code', 'state', 'city', 
                                                                    'native_count', 'asian_count',
                                                                    'black_count', 'hispanic_count', 'white_count']])
race_demographics_dim = race_demographics_dim.withColumn("native_count", race_demographics_dim.native_count.cast('int'))\
                                                   .withColumn("asian_count", race_demographics_dim.asian_count.cast('int'))\
                                                   .withColumn("black_count", race_demographics_dim.black_count.cast('int'))\
                                                   .withColumn("hispanic_count", race_demographics_dim.hispanic_count.cast('int'))\
                                                   .withColumn("white_count", race_demographics_dim.white_count.cast('int'))
race_demographics_dim.printSchema()

root
 |-- port_code: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- native_count: integer (nullable = true)
 |-- asian_count: integer (nullable = true)
 |-- black_count: integer (nullable = true)
 |-- hispanic_count: integer (nullable = true)
 |-- white_count: integer (nullable = true)

In [142]:
race_demographics_dim.write.mode('overwrite')\
                  .partitionBy('port_code')\
                  .parquet(os.path.join(data_directory, "general_demog_dim.parquet"))

### Airports dimensions

In [211]:
airport_df.dtypes

port_code        object
local_code       object
iata_code        object
type             object
name             object
state            object
city             object
elevation_ft    float64
x_coordinate     object
y_coordinate     object
dtype: object

In [145]:
from pyspark.sql.types import *

In [222]:
schema = StructType([
    StructField("port_code", StringType(), True),
    StructField("local_code", StringType(), True),
    StructField("iata_code", StringType(), True),
    StructField("type", StringType(), True),
    StructField("name", StringType(), True),
    StructField("state", StringType(), True),
    StructField("city", StringType(), True),
    StructField("elevation_ft", FloatType(), True),
    StructField("x_coordinate", FloatType(), True),
    StructField("y_coordinte", FloatType(), True),
])
airports_dim = spark.createDataFrame(airport_df, schema=schema)
airports_dim = airports_dim.withColumn("elevation_ft", airports_dim.elevation_ft.cast('int'))
airports_dim.printSchema()

root
 |-- port_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- x_coordinate: float (nullable = true)
 |-- y_coordinte: float (nullable = true)

In [223]:
airports_dim.write.mode('overwrite')\
                  .partitionBy('port_code')\
                  .parquet(os.path.join(data_directory, "airports_dim.parquet"))

### Port codes dimension

In [225]:
port_codes_dim = spark.createDataFrame(port_codes_df)
port_codes_dim.printSchema()

root
 |-- port_code: string (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)

In [226]:
port_codes_dim.write.mode('overwrite')\
                  .partitionBy('port_code')\
                  .parquet(os.path.join(data_directory, "port_codes_dim.parquet"))